<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <title><%=title%></title>
    <link href="/stylesheets/styleh5.css" rel="stylesheet" type="text/css" >

</head>
<body>
<canvas width="400" height="400" id="drawer_copy"></canvas>
<p>roomeID: <%=roomInfo.id%>, username: <%=username%></p>
<div class="intro">
	
	<div class="room-chat-body" id="room-chat-body">
		<ul id="room-chat">

		</ul>
	</div>

	<div class="chat-input" id="chat-input">
		<textarea type="text" class="msg" placeholder="请输入聊天内容或答案" cols="40" rows="5"></textarea>
		<button type="button" id="send">发送</button>
		<button type="button" id="quit">退出房间</button>
	</div>

</div>
<div class="room-users" id="room-users">在线用户：<% for(let i in roomUsers){ %><span class="ru-item"><%=roomUsers[i].username%></span><% } %></div>
<script>
    var roomid = '<%=roomInfo.id%>' ;
    var username = '<%=username%>' ;
</script>
<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript" language="javascript"></script>
<script src="/javascripts/public.js" type="text/javascript" language="javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript" language="javascript"></script>
<script src="/javascripts/game-slaver.js" type="text/javascript" language="javascript"></script>
</body>
</html>
