<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" >
</head>
<body>
<p>roomeID: <%=roomInfo.id%>, username: <%=username%>, keywords: <%=roomInfo.keywords%></p>
<canvas width="400" height="400" id="drawer"></canvas>
<script src="/socket.io/socket.io.js" type="text/javascript" language="javascript"></script>
<script>
    var roomid = '<%=roomInfo.id%>' ;
</script>
<script src="/javascripts/game-master.js" type="text/javascript" language="javascript"></script>
</body>
</html>
